#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "localai"
name = "LocalAI"
description.en = "Run Large Language Models (LLM) locally"
description.fr = "Exécutez des modèles linguistiques à grande échelle (LLM) localement"
version = "3.12.1~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://localai.io/"
code = "https://github.com/mudler/LocalAI"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = false
sso = false

disk = "3G"
ram.build = "4G"
ram.runtime = "4G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    prefetch = false
    extract = false
    rename = "local-ai"
    amd64.url = "https://github.com/mudler/LocalAI/releases/download/v3.12.1/local-ai-v3.12.1-linux-amd64"
    amd64.sha256 = "60032a4930a6603f5c164df9aff69b0ff9c641c961b4adb0d75181c22aa476b7"
    arm64.url = "https://github.com/mudler/LocalAI/releases/download/v3.12.1/local-ai-v3.12.1-linux-arm64"
    arm64.sha256 = "46151013ac563430d35677040df1205c921c81a0f092622e7a101cad23aa96fb"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*-linux-amd64$"
    autoupdate.asset.arm64 = ".*-linux-arm64$"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.ports]

    [resources.apt]
    packages = "curl, awk, grep, sed, pciutils"
